
@font-face {
  font-family: 'open sans';
  src: url('../fonts/ex/OpenSans-Semibold.ttf');
}

.symantec-header{
  background-image: url('../img/banner/symantec.png');
  background-size: cover;
  overflow: hidden;
  background-position: center center;
  padding-top: 100px;
  padding-bottom: 100px;
  box-shadow: inset 0 1px 20px 0 rgba(0,0,0,.18);
}


.head-menu{
  position: absolute;
  left: -0px !important;
  margin: 0 !important;
  width: 100%;
  text-align: center;
  background-color: rgb(108, 167, 33);
  padding: 20px;
  padding-top: 16px;
  margin-bottom: 0px;
}



.head-menu h3{
  color: white;
}

.menu-produk{
  margin-top: 91px;
  position: relative;
  padding: 18px;
  padding-top: -5px;
  /*border-right: 1px solid #cecece;*/
}



.menu-produk h3{
  color: rgb(116, 116, 116);
}

.menu-produk ul{
  padding-left: 0px;
}

.menu-produk ul li{
  list-style-type: none;
  line-height: 25px;
  margin-top: 6px;
  padding: 5px;
  border-bottom: 3px solid rgba(108, 167, 33, 0);
}

/*.menu-produk li:hover{
  border-bottom: 3px solid rgb(108, 167, 33);
}*/

.cmn-t-underline {
  position: relative;
  color: rgb(108, 167, 33);
}
.cmn-t-underline:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 3px;
  background-color: rgb(108, 167, 33);
  content: "";
  transition: width 0.2s;
}
.cmn-t-underline:hover {
  color: rgb(108, 167, 33);
}
.cmn-t-underline:hover:after {
  width: 100%;
}

.menu-produk li a{
  font-family: 'raleway-regular';
  color: rgb(143, 143, 143);
  font-size: 1.5rem;
  display: block;
}

.menu-produk li > a:hover{
  /*color: rgb(62, 62, 62);*/
  text-decoration: none;
}

.isi-produk{
  padding-top: 20px;
  padding: 50px;

}

.breadcrumb li a{
  color: rgb(131, 191, 32);
}

.isi-produk h1, h2{
  padding: 0px;

}

.isi-produk h3{
  color: rgb(108, 167, 33);
}

.isi-produk p{
  font-family: 'raleway-regular';
  line-height: 28px;
  font-size: 15px;
}

.isi-produk ol li{
  font-family: 'raleway-regular';
  line-height: 28px;
  font-size: 15px;
}

.table.custom{
  border: 1px solid #cecece;
  font-family: 'proximanova';
}

.table.custom td{
  padding: 10px;
}

.table.custom th{
  padding: 20px;
  padding-left: 10px;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
}

.table.custom thead{
  background-color: rgb(108, 167, 33);
  border-bottom: solid 1px #cecece;
  border-spacing: 1px;
}

.table.custom a{
  color: rgb(108, 167, 33);
}

.button-order{
  padding: 10px 25px 10px 25px;
  background-color: rgb(108, 167, 33);
  color: white;
  transition: all .2s ease;
}

.button-order:hover{
  color: white;
  text-decoration: none;
  background-color: rgb(87, 136, 23);
}

@media (max-width: 768px){
  .head-menu{
    position: relative;
  }

  .isi-produk{
    padding: 10px;
  }

  .menu-produk{
    margin-top: 20px;
  }
}
